
# Sometimes created
workspace/
/plugin_customization.ini
.DS_Store

# Output of maven
plugins/*/target/
features/*/target/
repository/target/

# Ignore IDE settings
.project
.classpath
.settings/
repository/plugin_customization.ini

# Custom setups
build/setup_laptop.sh

