<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.csstudio.sns.compare.objectContribution1"
            nameFilter="*.pvs"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.csstudio.sns.compare.LaunchComparator"
               enablesFor="+"
               icon="icons/pvtable.png"
               id="org.csstudio.sns.compare.action1"
               label="Compare *.pvs">
         </action>
      </objectContribution>
   </extension>

</plugin>
